<footer>
  <section>
        <p>Address:<br>
<a href="https://maps.app.goo.gl/rD92MTXRLadAug2W6">2454 Ollie Court<br>
Bakersfield, CA 93314</a></p>
    <p>
      Email: <a href="mailto:sales@reliableimaging.net">sales@reliableimaging.net</a>
      | Office: <a href="tel:+16612189934">661-218-9934</a>
      | Mobile: <a href="tel:+18182336027">818-233-6027</a>
    </p>
  </section>
  <section>
    <p><a href="policies.html">Policies</a></p>
    <p><a href="termsconditions.html">Terms and Conditions</a></p>
    <p><a href="https://www.umeworks.com" target="_blank" rel="noopener noreferrer">Website by UmeWorks</a></p>
        <p>
      Copyright &copy; 2009-<script>document.write(new Date().getFullYear())</script>
      Reliable Imaging. All rights reserved.
    </p>
  </section>
</footer>
