<header>
  <img src="/Reliable_Imaging/images/ri_logo.png" alt="Reliable Imaging logo" />
  <nav aria-label="Primary">
    <ul>
      <li><a href="/Reliable_Imaging/index.html">Home</a></li>
      <li><a href="/Reliable_Imaging/aboutreliableimaging.html">About</a></li>
      <li><a href="/Reliable_Imaging/policies.html">Policies</a></li>
      <li><a href="/Reliable_Imaging/contactus.html">Contact</a></li>
    </ul>
  </nav>
</header>
