<header>
  <img src="/images/ri_logo.png" alt="Reliable Imaging logo" />
  <nav aria-label="Primary">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/aboutreliableimaging.html">About</a></li>
      <li><a href="/policies.html">Policies</a></li>
      <li><a href="/contactus.html">Contact</a></li>
    </ul>
  </nav>
</header>
