---
layout: layouts/base.njk
title: "About Reliable Imaging Computer Products, Inc."
headerImage: "/images/headers-about-reliableimaging.png"
permalink: "/aboutreliableimaging.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-aboutpg">
  <h1><img src={{ headerImage }} alt= {{ title }} /></h1>
  <div class = "content">
    <p align="center"><strong>
      We are committed to being 
      the <br />
      BEST CHOICE  
      for your IMAGING SUPPLY NEEDS</strong></p>
    <p>Reliable Imaging  is an imaging specialty company, with a primary focus on ink and laser cartridges for printers, copiers and fax machines. We also offer preventative maintenance service and parts for all machines; and I.T. related supplies, such as back-up tapes, cleaning cartridges for tape drives.</p>
    
    <ul>
      <li><em><strong>Fast Delivery</strong></em><br />
  To  offer a standard average delivery time nationwide of 1 - 2 business days, Reliable Imaging has partnered manufacturing and distributions locations in Memphis, TN, Fresno, CA, Springfield, VA, Los Angeles, CA, Glassboro, NJ, El Paso, TX, and Denver, CO. Standard delivery days are weekdays, Monday through Friday. Saturday delivery is also available in some cases; however cannot be guaranteed. Next day delivery is possible free on most products offered. Just tell your representative when placing your order.</li>
      </ul>
    <ul>
      <li><strong><em>Competitive Pricing</em></strong><br />
  To provide competitive pricing that you can count on, we negotiate special pricing programs with all suppliers. Because we serve a large number of companies, we are confident that the pricing will be competitive. Also, if ever pricing needs to be adjusted to better suit the needs of your property, Reliable Imaging will adjust pricing whenever possible to better serve you and your company. We are committed to being the best choice in the industry today for your imaging supply needs.</li>
  </ul>
  <ul>
      <li><strong><em>No Minimum Order</em></strong><br />
      Reliable Imaging does NOT have a minimum order requirement; however shipping charges can be avoided with orders of $300 or more.</li></ul>
      <ul>
      <li><em><strong>Personal Service</strong></em><br />
      Reliable Imaging has a team of trained sales and service professionals who actively work with their clients to give the best service and value in the industry today.</li>
  </ul>    
  </div>
  </article>
  {% include "components/product-links.njk" %}
</section>
