---
layout: layouts/base.njk
title: "back-up media to store your data"
permalink: "/backupmedia.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-backuppage">

    <p><br /> 
    Protect your electronic data. Whether for back-up or archival, Reliable Imaging has a wide selection of back-up media to select from:</p>
  <ul>
    <li>CD-R Disks</li>
    <li>CD-R/W Disks</li>
    <li>Data Carts, Clean Carts, Tapes</li>
    <li>Diskettes</li>
    <li>DVD+R Disks</li>
    <li>DVD+RW Disks</li>
    <li>DVD-R Disks</li>
    <li>DVD-RAM Disks</li>
    <li>DVD-RW Disks</li>
    <li>Flash Memory</li>
    <li>Jaz Disks</li>
    <li>LS-120 Superdisks</li>
    <li>Magneto Optical Disks</li>
    <li>Sony Superstation</li>
    <li>Worm Optical Disks</li>
    <li>Zips Disks</li>
    </ul>    
  </article>
  {% include "components/product-links.njk" %}
</section>
