---
layout: layouts/base.njk
title: "Back-Up Media"
headerImage: "images/headers-backup_page.png"
permalink: "/backupmedia.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-backuppage">
  <h1><img src={{ headerImage }} alt= {{ title }} /></h1>
    <div class="legacy-content-with-image">
      <div class="legacy-content-main">
        <p>Protect your electronic data. Whether for back-up or archival, Reliable Imaging has a wide selection of back-up media to select from:</p>
        <ul>
          <li>CD-R Disks</li>
          <li>CD-R/W Disks</li>
          <li>Data Carts, Clean Carts, Tapes</li>
          <li>Diskettes</li>
          <li>DVD+R Disks</li>
          <li>DVD+RW Disks</li>
          <li>DVD-R Disks</li>
          <li>DVD-RAM Disks</li>
          <li>DVD-RW Disks</li>
          <li>Flash Memory</li>
          <li>Jaz Disks</li>
          <li>LS-120 Superdisks</li>
          <li>Magneto Optical Disks</li>
          <li>Sony Superstation</li>
          <li>Worm Optical Disks</li>
          <li>Zips Disks</li>
        </ul>
      </div>
      <figure class="legacy-content-image">
        <img src="images/backup_page-300.jpg" alt="Back-up media supplies" width="300" height="300" />
      </figure>
    </div>
  </article>
  {% include "components/product-links.njk" %}
</section>
