---
layout: layouts/base.njk
title: "Contact information for Reliable Imaging Computer Products, Inc."
headerImage: "images/headers-contact_page.png"
permalink: "/contactus.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-contactpg">
      <h1><img src={{ headerImage }} alt= {{ title }} /></h1>
      <div class="content">
        <h3><span class="style1">Reliable Imaging</span></h3>
             <!-- <div style="float:right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735.2799965793888!2d-90.66960617074676!3d42.51025808730246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e32b7872da85a1%3A0x44d1115c3fa5195d!2s1842+Central+Ave%2C+Dubuque%2C+IA+52001!5e0!3m2!1sen!2sus!4v1544038269393" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div> -->
        <!--<p></a><strong>CORPORATE OFFICE</span></strong><br />
          1842 Central Ave. <br />
          Dubuque, IA 52001</p>
        <p><a href="https://goo.gl/maps/a2fz6HEFohB2" target="_blank">Get directions.</a> </p> -->
        <p><strong>Telephone<br />
           </strong>(661) 218-9934
          </p>
        <p><strong>Email:</strong> <a href="mailto:sales@reliableimaging.net">sales@reliableimaging.net</a></p>
        <!--<p><strong>Address:</strong> 1541 N. Formosa Ave., #15, Los Angeles, CA 90046</p>-->
        <p>      Place your order by 2:00 p.m. Pacific Time, <br />
          and your order can be delivered next day <br />
          to most locations.</p>
            <p>Please contact us to place an order,
        to request  a quote, or for assistance with special items. If needed, we'll even send a Reliable Imaging representative to your location.</p>
      </div>
    
  </article>
  {% include "components/product-links.njk" %}
</section>
