---
layout: layouts/base.njk
title: "Fax Supplies"
headerImage: "../images/headers-faxpage.png"
permalink: "/faxink.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-faxpage">
  <h1><img src={{ headerImage }} alt= {{ title }} /></h1>
    <div class="legacy-content-with-image">
      <div class="legacy-content-main">
        <p>Reliable Imaging proudly distributes ink and toner cartridges for all major  facsimile manufacturers, both original manufacturer's name brands, as well as providing cost-effective compatibles. </p>
        <p>Call your sales representative today to find out how we can   lower overhead on your fax machine consumables. </p>
        <p>One call to answer your questions and send your supplies on they're way to you. Quick hassle-free service.</p>
      </div>
      <figure class="legacy-content-image">
        <img src="images/faxpage-300.jpg" alt="Fax supplies" width="300" height="300" />
      </figure>
    </div>
  </article>
  {% include "components/product-links.njk" %}
</section>
