---
layout: layouts/base.njk
title: "Other IT Supplies"
headerImage: "../images/headers-othersupplies.png"
permalink: "/otheritsupplies.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-othersuppliespg">
  <h1><img src={{ headerImage }} alt= {{ title }} /></h1>
    <div class="legacy-content-with-image">
      <div class="legacy-content-main">
        <p>Reliable Imaging strives to make your life easier and help you be more efficient. To that end, we provide one-stop shopping for a  variety of I.T. and other supplies, including the following:</p>
        <ul>
          <li>calculator supplies</li>
          <li>communications &amp; networking supplies</li>
          <li>computer accessories</li>
          <li>electrical supplies</li>
          <li>office supplies</li>
        </ul>
        <p>Don't see what you need? Just give us a call and we'll get you a price and availability.</p>
      </div>
      <figure class="legacy-content-image">
        <img src="images/othersupplies-300.jpg" alt="Other IT supplies" width="300" height="300" />
      </figure>
    </div>
  </article>
  {% include "components/product-links.njk" %}
</section>
