---
layout: layouts/base.njk
title: "Printer Ink & Toner Cartridges"
headerImage: "../images/headers-ink-toner_page.png"
permalink: "/printerink.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-printerpage">
  <h1><img src={{ headerImage }} alt= {{ title }} /></h1>
    <div class="legacy-content-with-image">
      <div class="legacy-content-main">
        <p>Reliable Imaging proudly distributes ink and toner cartridges for all major  printer manufacturers, both original manufacturer's name brands, as well as providing cost-effective compatibles.</p>
        <ul>
          <li>Over 70 national original equipment manufacturer name brands</li>
          <li>Cost-savings compatibles for over 40 brands</li>
        </ul>
        <p>Call your sales representative today to find out how we can   lower overhead on your printer consumables. </p>
        <p>One call to answer your questions and your supplies are on their way to you. Quick hassle-free service.</p>

      </div>
      <figure class="legacy-content-image">
        <img src="images/ink-toner_page-300.jpg" alt="Printer ink and toner cartridges" width="300" height="300" />
      </figure>
    </div>
            <section class="logo-slider" aria-label="Supported printer brands">
          <div class="logo-slider__track">
            <div class="logo-slider__group">
              <img src="images/oem_logos/apple.gif" alt="Apple" />
              <img src="images/oem_logos/brother.gif" alt="Brother" />
              <img src="images/oem_logos/canon-logo.gif" alt="Canon" />
              <img src="images/oem_logos/citizen.gif" alt="Citizen" />
              <img src="images/oem_logos/dataproducts.gif" alt="Dataproducts" />
              <img src="images/oem_logos/epson.gif" alt="Epson" />
              <img src="images/oem_logos/fujitsu.gif" alt="Fujitsu" />
              <img src="images/oem_logos/ibm-logo.gif" alt="IBM" />
              <img src="images/oem_logos/kentek.gif" alt="Kentek" />
              <img src="images/oem_logos/konicaminolta.gif" alt="Konica Minolta" />
              <img src="images/oem_logos/kyocera.gif" alt="Kyocera" />
              <img src="images/oem_logos/lexmark-logo.gif" alt="Lexmark" />
              <img src="images/oem_logos/NEC.gif" alt="NEC" />
              <img src="images/oem_logos/nukote.gif" alt="Nukote" />
              <img src="images/oem_logos/oki_logo.gif" alt="Oki" />
              <img src="images/oem_logos/outputtechnology.gif" alt="Output Technology" />
              <img src="images/oem_logos/panasonic_logo.gif" alt="Panasonic" />
              <img src="images/oem_logos/ricoh.gif" alt="Ricoh" />
              <img src="images/oem_logos/samsung.gif" alt="Samsung" />
              <img src="images/oem_logos/sharp-logo.gif" alt="Sharp" />
              <img src="images/oem_logos/starmicronics.gif" alt="Star Micronics" />
              <img src="images/oem_logos/tallygenicom.gif" alt="TallyGenicom" />
              <img src="images/oem_logos/tektronix_logo.gif" alt="Tektronix" />
              <img src="images/oem_logos/xerox.gif" alt="Xerox" />
            </div>
            <div class="logo-slider__group" aria-hidden="true">
              <img src="images/oem_logos/apple.gif" alt="" />
              <img src="images/oem_logos/brother.gif" alt="" />
              <img src="images/oem_logos/canon-logo.gif" alt="" />
              <img src="images/oem_logos/citizen.gif" alt="" />
              <img src="images/oem_logos/dataproducts.gif" alt="" />
              <img src="images/oem_logos/epson.gif" alt="" />
              <img src="images/oem_logos/fujitsu.gif" alt="" />
              <img src="images/oem_logos/ibm-logo.gif" alt="" />
              <img src="images/oem_logos/kentek.gif" alt="" />
              <img src="images/oem_logos/konicaminolta.gif" alt="" />
              <img src="images/oem_logos/kyocera.gif" alt="" />
              <img src="images/oem_logos/lexmark-logo.gif" alt="" />
              <img src="images/oem_logos/NEC.gif" alt="" />
              <img src="images/oem_logos/nukote.gif" alt="" />
              <img src="images/oem_logos/oki_logo.gif" alt="" />
              <img src="images/oem_logos/outputtechnology.gif" alt="" />
              <img src="images/oem_logos/panasonic_logo.gif" alt="" />
              <img src="images/oem_logos/ricoh.gif" alt="" />
              <img src="images/oem_logos/samsung.gif" alt="" />
              <img src="images/oem_logos/sharp-logo.gif" alt="" />
              <img src="images/oem_logos/starmicronics.gif" alt="" />
              <img src="images/oem_logos/tallygenicom.gif" alt="" />
              <img src="images/oem_logos/tektronix_logo.gif" alt="" />
              <img src="images/oem_logos/xerox.gif" alt="" />
            </div>
          </div>
        </section>
  </article>
  {% include "components/product-links.njk" %}
</section>
