---
layout: layouts/base.njk
title: "Ink and toner cartridges for printers"
permalink: "/printerink.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-printerpage">

  
  <p><img src="/Reliable_Imaging/images/pirntermap.gif" alt="printer map" width="320" height="230" usemap="#Map" style="float:right" border="0" />Reliable Imaging proudly distributes ink and toner cartridges for all major  printer manufacturers, both original manufacturer's name brands, as well as providing cost-effective compatibles. </p>
  <ul>
    <li>Over 70 national original equipment manufacturer name brands</li>
    <li>Cost-savings compatibles for over 40 brands</li>
  </ul>
  <p>Call your sales representative today to find out how we can   lower overhead on your printer consumables. </p>
  <p>One call to answer your questions and your supplies are on their way to you. Quick hassle-free service.</p>
 
    
<map name="Map" id="Map">

  
  <area shape="rect" coords="26,1,137,84" href="https://reliableimaging.isconnect.com/isc/SpecificProduct.do?productID=C4182X%3BHEW" target="_blank" alt="HP LJ C4182X" />
  <area shape="rect" coords="138,34,194,116" href="https://reliableimaging.isconnect.com/isc/SpecificProduct.do?productID=C8765WN%3BHEW" target="_blank" alt="HP 94 Ink" />
  <area shape="rect" coords="138,130,316,205" href="https://reliableimaging.isconnect.com/isc/SpecificProduct.do?productID=DR620%3BBRT" target="_blank" alt="Brother DR-620 printer drum" />
  <area shape="rect" coords="18,94,130,199" href="https://reliableimaging.isconnect.com/isc/SpecificProduct.do?productID=BCI21%2FBCI24BK%3BCPT" target="_blank" alt="Canon BCI21 compatible" />
  <area shape="rect" coords="214,24,301,128" href="https://reliableimaging.isconnect.com/isc/SpecificProduct.do?productID=T087120%3BEPS" target="_blank" alt="Epson printer ink" />
</map>
  </article>
  {% include "components/product-links.njk" %}
</section>
