---
layout: layouts/base.njk
title: "Printer Maintenance Kits"
permalink: "/printermaintenancekits.html"
---
<section class="legacy-layout">
  <article class="legacy-content legacy-maintenancekit">
  <h1 class="page-title">{{ title }}</h1>
    <div class="legacy-content-with-image">
      <div class="legacy-content-main">
        <p>Recommended by all the printer manufacturers, maintenance kits will prolong the   life of your printer.</p>
        <p>We also offer maintenance kit installation, and printer maintenance service by our trained engineers. Call us for a quote.</p>
      </div>
      <figure class="legacy-content-image">
        <img src="images/printermaintenancekits-300.jpg" alt="Printer maintenance kits" width="300" height="300" />
      </figure>
    </div>
  </article>
  {% include "components/product-links.njk" %}
</section>
